<header>


  <h1><a href='/ticket/1'>Logos {{grupo}}</a></h1>



<nav>

<div id="top-menu">
    <ul class="nav">

     <li><a href="">Tickets</a>

         <ul>
            <li><a href="/ticket/1">Nuevos</a></li>
            <li><a href="/ticket/2">Atendidos</a></li>
            <li><a href="/ticket/3">En Prueba</a></li>
            <li><a href="/ticket/4">Cerrados</a></li>
      
     
          
        </ul>



    </li>

        
        <ul>

        </ul>

      </li>
   

      
      <li><a href="">Logos</a>
        <ul>
          <li><a href="">Monitoreo</a></li>
          <li><a href="">Reportes</a></li>
     
          
        </ul>
      </li>

   <li><a href="">Bienvenido, {{username}}</a>

   <ul>
          <li><a href="/salir">Salir</a></li>
     
     
          
        </ul>

   </li>



</div>
</nav>



</header>
