

{% include "layout.html" %}

<body>

{% include "header.html" %}




{{msj}}
<div id='contenedor'>
<div id='form'>
Generar un Ticket
<form action="/ticket_add/" method="post" class='ticket'>
    
    {% csrf_token %}
    

    <label class='etiqueta'>Asunto :</label><div id='field'><input id="field" type="text" name="asunto" maxlength="100"></div>
    <label class='etiqueta'>Tipo :</label><br>
    <select name="tipo" id="tipo">
    {% for tipos in tipos%}
     <option value="{{tipos.id}}">{{tipos.name}}</option>
	{% endfor %}
    </select>

    <br>
    <label class='etiqueta'>Descripcion :</label><br>
    <textarea id="field" name="descripcion" rows="10" cols="30">

	</textarea>
  
   
    <label class='etiqueta'></label><div id='field'><input  id="field1" type="submit" value="Enviar Ticket" /></div>

</form>

</div>


<div id= 'tickets'>

<div id='pendientes'>
{% if ticket %}
<table>
 <tr>
Tickets {{estado_name}}
  </tr>
   <tr>
    <td>Asunto</td>
    <td>Tipo</td> 
    <td>Fecha de Inicio</td>

	{% if estado_name == 'Cerrados' %}
		 <td>Fecha de Fin</td>
	{% endif %}

	{% if estado_name == 'Atendidos' %}
		  <td>Soporte</td>
	{% endif %}

   
    <td>Estado</td>
    <td>Detalle</td>
    
    <td>Accion</td>

  </tr>


{% for ticket in ticket%}
	
	
	<tr>
	

	<td width='25%'>{{ticket.asunto}}</td>
	<td width='5%'>{{ticket.tipo}}</td>
	<td width='18%'>{{ticket.fecha_inicio}}</td>
	{% if estado_name == 'Cerrados' %}
		<td width='18%'>{{ticket.fecha_fin}}</td>

	{% endif %}



		{% for soporte in soporte %}

			{% if soporte.ticket_id == ticket.id %}
			<td width='5%'>{{soporte.soporte}}</td>

			{% endif %}
			
		{% endfor %}


	<td width='5%'>{{ticket.estado}}</td>
	<td width='12%'><a href='/detalle_ticket/{{ticket.id}}'>Mas detalle</a></td>
	{% if grupo == 'Soporte' %}
		{% if estado_name == 'Nuevos' %}
		<td width='10%'><a href='/atender/{{ticket.id}}'>Atender</a></td>
		{% endif %}
		{% if estado_name == 'Atendidos' %}
		<td width='12%'><a href='/cerrar/{{ticket.id}}'>Enviar a validar</a></td>
		
		

		{% endif %}
		{% if estado_name == 'En Prueba' %}
		<td width='20%'><a href=''>En Prueba</a></td>
		{% endif %}
		{% if estado_name == 'Cerrados' %}
		<td width='20%'><a href=''>-</a></td>
		{% endif %}
	{% else %}
	{% if estado_name == 'Nuevos' %}
		<td width='10%'><a href=''>-</a></td>
		{% endif %}
		{% if estado_name == 'Atendidos' %}
		<td width='10%'><a href=''>-</a></td>
		{% endif %}
		{% if estado_name == 'En Prueba' %}
		<td width='20%'><a href='/validar/{{ticket.id}}'>Validar</a></td>
		{% endif %}
		{% if estado_name == 'Cerrados' %}
		<td width='20%'><a href=''>-</a></td>
		{% endif %}
	{% endif %}
	</tr>
{% endfor %}


</table>


{% else %}
<a>No hay tickets</a>
{% endif %}
</div>




</div>
</div>








</body>
</html>