
{% include "layout.html" %}

<body>

{% include "header.html" %}

<div id='contenedor'>

<div id= 'tickets'>

<div id='pendientes'>
{% if evento %}
<table>

 <tr>
Soporte del ticket <a href='/detalle_ticket/{{ticket.id}}/'>{{ticket.asunto}}</a>

  </tr>
  <tr></tr>
   <tr>

    <td>Evento</td> 
    <td>Fecha de Inicio</td>


  </tr>


	{% for evento in evento%}
	<tr>

	<td width='50%'>{{evento.name}}</td>
	<td width='25%'>{{evento.fecha_inicio}}</td>
	


	{% endfor %}
</table>
{% else %}
<a>No existen eventos</a>
{% endif %}


</div>
</div>

</div>